<div class="container">

  <%= erb :"partials/breadcrumbs_heading", :locals => { :breadcrumbs => breadcrumbs, :mode => mode, :heading => "Import #{upload_type}" } %>

  <% if (defined? instructions) != nil && instructions != '' %>
  <div class="row"><p class="instruction"><%= instructions %></p></div>
  <% end %>
  
  <div class="row">
    <form enctype="multipart/form-data" encoding="multipart/form-data" method="post" action="/<%= mode%>/import/<%= upload_type.downcase %>">
      <input type="file" name="datafile" size="100">
      <button type="submit" name="action" value="send">Send</button>
    </form>
  </div>
  
  <div class="row">
    <h2>Clear all <%= upload_type %> data</h2>
    <p class="warning">WARNING - This will clear all <%= upload_type %> data in the system</p>
    <form enctype="multipart/form-data" encoding="multipart/form-data" method="post" action="/<%= mode%>/import/<%= upload_type.downcase %>/clear">
      <button type="submit" name="action" value="send">Clear all data</button>
    </form>
  </div>
</div>