<div class="container">
  
  <% if (defined? breadcrumbs) != nil %><%= erb :"partials/breadcrumbs", :locals => { :breadcrumbs => breadcrumbs } %><% end %>
  
  <div class="row">
    <h1 class="inline"><img src="images/<%= mode == "tv"? "tv-small.png" : "radio-small.png" %>" alt="<%= mode %>">Dashboard</h1>
    <a href="/<%= mode %>/import" class="button button-red right m-right">Import data</a>
    <a href="/<%= mode %>/reports" class="button right m-right">Generate Reports</a>    
  </div>
  
  <div class="row centered">
    <div>
      <h3>TV Reports - not for profit 2012</h3>
      <img src="images/sample_chart1.png">
    </div>
    <div>
      <h3>TV Reports - clock number</h3>
      <img src="images/sample_chart2.png">
    </div>
  </div>
</div>
  