<div class="container">
  
  <% if (defined? breadcrumbs) != nil %><%= erb :"partials/breadcrumbs", :locals => { :breadcrumbs => breadcrumbs } %><% end %>
  
  <div class="row">
    <h1 class="inline"><img src="/images/<%= mode == "tv"? "tv-small.png" : "radio-small.png" %>" alt="<%= mode %>">Reports</h1>
  </div>
  
  <div class="row">
    <form action="/<%= mode %>/generate-report" method="get" class="report-criteria">
      <fieldset>
        <div class="legend">
          <legend class="">Generate Report</legend>
        </div>
        <div class="control-group">
          <label>Report Type</label>
          <div class="controls">
            <% REPORTS.each do |report| %>
            <label><input type="radio" name="report_type" value="<%= report[:value] %>"><%= report[:name] %></label><br/>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <label for="from_date">Date Range</label>
          <div class="controls">
            <label>From <input type="text" id="from_date" name="from_date" value="<%= params['from_date'] %>" class="date-picker" placeholder="e.g. 01/01/2013"></label>
            <label>To <input type="text" id="to_date" name="to_date" value="<%= params['to_date'] %>" class="date-picker"  placeholder="e.g. 31/01/2013"></label>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="button">Generate Report</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>